- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  .span-12
    %h2= @h1
    
%hr.space

-# show stats in 4 columns
- column_size = @stats.size/4 + (@stats.size % 4 > 0 ? 1 : 0)
- column1     = @stats.slice(0, column_size)
- column2     = @stats.slice(column_size, column_size)
- column3     = @stats.slice(column_size*2, column_size)
- column4     = @stats.slice(column_size*3, column_size)

- (0..column_size-1).each do |i|
  - stat1 = column1[i]
  - stat2 = column2[i]
  - stat3 = column3[i]
  - stat4 = column4[i]
  
  .span-24.padding-top-10.padding-bottom-10{:class => cycle("shaded", "")}
    .span-4.prepend-1{:style => 'font-size: 1.1em; font-weight: normal; color: #555555;'}
      .span-3#date
        = stat1.date.strftime("%a %b %d %Y")
      .span-1.last#count{:style => 'color: #0000BB; font-weight: bold;'}
        = stat1.count
      
    - unless stat2.blank?
      .span-4.prepend-1{:style => 'font-size: 1.1em; font-weight: normal; color: #555555;'}
        .span-3#date
          = stat2.date.strftime("%a %b %d %Y")
        .span-1.last#count{:style => 'color: #0000BB; font-weight: bold;'}
          = stat2.count

    - unless stat3.blank?
      .span-4.prepend-1{:style => 'font-size: 1.1em; font-weight: normal; color: #555555;'}
        .span-3#date
          = stat3.date.strftime("%a %b %d %Y")
        .span-1.last#count{:style => 'color: #0000BB; font-weight: bold;'}
          = stat3.count
          
    - unless stat4.blank?
      .span-4.prepend-1.last{:style => 'font-size: 1.1em; font-weight: normal; color: #555555;'}
        .span-3#date
          = stat4.date.strftime("%a %b %d %Y")
        .span-1.last#count{:style => 'color: #0000BB; font-weight: bold;'}
          = stat4.count
    