- color = "_orange"
- klasses = []
- klasses.push("mappable") if event.mappable?

.unselected.span-10.last{:id => "mappable_#{index}", :class => klasses.join, :lat => event.location.lat, :lng => event.location.lng, :index => index, :color => color, :html => "<strong>#{event.name}</strong><br/>At #{event.location_name}<br/>#{link_to "Details", event.url}"}

  -# cache event google marker
  - cache("google:marker:#{color}:#{index}") do
    .span-1
      %img{:src => "http://www.google.com/mapfiles/marker" + color + ('A'..'Z').to_a[index] + ".png", :class => 'icon'}

  -# cache event info, independent of its list index
  - cache("#{event.cache_key}") do
    .span-7.info
      %h4.name.margin-bottom-5{:style => 'font-weight: bold; font-size: 1.3em;'}
        = truncate(event.name, :length => 40)
      %h4.venue.margin-bottom-5
        -# link to event location
        = link_to event.location_name, location_path(event.location), :class => 'event location'

      %h6.details.bottom{:style => 'font-weight: normal;'}
        %span{:style => 'color: #111111; font-size: 1.1em;'}= event.start_at.to_s(:appt_time)
        - if !event.url.blank?
          - # link to event url, important for eventful events
          %span{:style => 'font-size: 1.0em; padding-left: 5px;'}= link_to "Details", event.url

    .span-2.date.last
      = render(:partial => 'events/calendar_date', :locals => {:date => event.start_at})
