/ - query = nil unless local_assigns.has_key?(:query)
/ - tags = [] unless local_assigns.has_key?(:tags)
- color     = location_color(location) unless local_assigns.has_key?(:color)
- features  = location_features(location) unless local_assigns.has_key?(:features)
- klasses   = []
- klasses.push("mappable") if location.mappable?

- cache("#{location.cache_key}:index:#{index}") do

  .unselected.span-10.last{:id => "mappable_#{index}", :class => klasses.join, :lat => location.lat, :lng => location.lng, :index => index, :color => color, :html => "<strong>#{link_to location.company_name, location_path(location)}</strong><br />#{[location.street_address, city_state_zip(location.city, location.state, location.zip)].reject(&:blank?).join("<br/>")}"}
    .span-1.icon-div
      - if location.mappable?
        %img{:src => "http://www.google.com/mapfiles/marker" + color + ('A'..'Z').to_a[index] + ".png", :class => 'icon'}
      - else
        == &nbsp;
      
    .span-9.last.info
      %h4.name.margin-bottom-5
        = link_to location.company_name, location_path(location), :class => "#{features.join(" ")} name"
      .span-6.address
        %span.address.margin-bottom-5{:style => 'font-size: 1.2em; color: #555;'}
          = [location.street_address, city_state_zip(location.city, location.state, location.zip)].reject(&:blank?).join("<br/>")
      .span-3.last.phone
        - unless location.phone_numbers_count == 0
          %span.phone{:style => "margin-left: 17px;"}= number_to_phone(location.primary_phone_number.address, :delimiter => ".")
