- title(@title)
- robots('index', 'follow')

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h1{:style => 'font-size: 2.0em;'}= @h1
  %h5
    -#= link_to("Search #{pluralize(@city.name, 'Places and Events')}", url_for(:action => 'index', :klass => 'search', :query => 'anything'), :class => 'locality search')
    - if @events_count > 0
      -#== &nbsp;|&nbsp;
      = link_to("Search #{pluralize(@city.name, 'Events')}", url_for(:action => 'index', :klass => 'events', :query => 'anything'), :class => 'locality search')

  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'search', :country => @country, :state => @state, :city => @city})
    
  - if has_privilege?('manage site')
    %h5#stats{:style => 'font-size: 0.9em;'}= pluralize(@city.locations_count, "location")

%hr.space

%h3.span-23.prepend-1#events
  - unless @popular_events.blank?
    = render(:partial => 'search/event_cloud', :locals => {:events => @popular_events, :locality_type => 'city', :locality_params => {:country => @country, :state => @state, :city => @city}})

%hr.space

%h3.span-23.prepend-1#tags
  - unless @popular_tags.blank?
    - cache("#{@city.name.to_url_param}:tag_cloud", :expires_in => CacheExpire.tags) do
      = render(:partial => 'search/tag_cloud', :locals => {:tags => @popular_tags, :locality_type => 'city', :locality_params => {:country => @country, :state => @state, :city => @city}})

%hr.space

%h3.span-23.prepend-1#neighborhoods
  - unless @neighborhoods.blank?
    - cache("#{@city.name.to_url_param}:neighborhoods", :expires_in => CacheExpire.localities) do
      = render(:partial => 'search/neighborhood_cloud', :locals => {:title => "#{@city.name} Neighborhoods", :neighborhoods => @neighborhoods, :country => @country, :state => @state, :city => @city})

%hr.space

%h3.span-23.prepend-1#zips
  - unless @zips.blank?
    - cache("#{@city.name.to_url_param}:zips", :expires_in => CacheExpire.localities) do
      = render(:partial => 'search/zip_cloud', :locals => {:title => "#{@city.name} Zip Codes", :zips => @zips, :country => @country, :state => @state})
   