- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2= @h1
  %h5
    = link_to("#{pluralize(@city.locations_count, 'location')}", url_for(:action => 'index', :what => 'anything'), :class => 'locality search')
    - if @city.has_locations?
      == &nbsp;|&nbsp;
      = link_to("#{@city.name} Places", url_for(:controller => 'places', :action => 'city'), :class => 'locality search')
    - if @events_count > 0
      == &nbsp;|&nbsp;
      = link_to("#{@city.name} Events", url_for(:controller => 'events', :action => 'city'), :class => 'locality search')
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})

%hr.space
