- title(@title)
- robots('index', 'follow') unless @objects.blank? or @robots == false

-# The Google maps Javascript needs to be included before the other javascript files, as some refer to Google (in particular, markermanager)
- content_for :javascript do
  %script{:src => GOOGLE_MAPS_API_URL, :type => 'text/javascript'}
- javascript("jquery.jmap", "places", "map_markers")

.span-15.prepend-1.mat.padding-top-10.padding-bottom-10
  %h1{:style => 'font-size: 2.0em;'}= @h1
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'search', :country => @country, :state => @state, :city => @city, :zip => @zip, :neighborhood => @neighborhood, :link_all => true})

.span-8.padding-top-5.bottom.last
  = render(:partial => 'shared/weather', :locals => {:weather => @weather}) unless @weather.blank?
  
%hr.space

.span-24.last
  .span-5#sidebar
    #related_tags
      = render(:partial => 'search/related_tags', :locals => {:title => "Related Searches", :tags => @related_tags}) unless @related_tags.blank?
    #neighborhoods
      = render(:partial => 'search/city_neighborhoods', :locals => {:neighborhoods => @neighborhoods, :city => @city, :tag => @tag, :query => @query}) unless @neighborhoods.blank?
    #zips
      = render(:partial => 'search/city_zips', :locals => {:zips => @zips, :city => @city, :tag => @tag, :query => @query}) unless @zips.blank?
    #cities
      = render(:partial => 'search/zip_cities', :locals => {:cities => @cities, :zip => @zip, :tag => @tag, :query => @query}) unless @cities.blank?
    #nearby_cities
      = render(:partial => 'search/nearby_cities', :locals => {:nearby_cities => @nearby_cities, :city => @city, :tag => @tag, :query => @query}) unless @nearby_cities.blank?

    -# google ad - search index left side vertical banner
    = render :partial => 'adsense/search_index_left_verticalbanner'

  .span-19.last
    -# google ad - search index top leaderboard
    = render :partial => 'adsense/search_index_top_leaderboard'
  
  .span-19.last
    %hr.space
  
  .span-19.last#search
    .span-10
      %h4= page_entries_info(@objects, :entry_name => "result")
    .span-9.last
      = will_paginate(@objects, :page_links => true)

    .span-19.last
      - if @search_filters.keys.size > 0
        -# filter search results by type
        - @search_filters.keys.each do |klass|
          %span{:style => 'font-weight: bold; font-size: 1.1em;'}
            = link_to("Search #{klass_to_word(klass.pluralize).titleize} only", build_search_route(klass, @locality_type, @locality_params.merge(:tag => @tag, :query => @query).compact), :style => 'color: #0099FF;')
            = "&nbsp;|&nbsp;" unless klass == @search_filters.keys[-1]
    
    .span-10
      - @objects.each_with_index do |object, i|
        .span-10.letterbox-5.border_bottom[object]
          - case object.class.to_s
          - when 'Location'
            = render(:partial => 'search/location', :locals => {:location => object, :query => @query, :tags => @tags, :index => i})
          - when 'Appointment'
            = render(:partial => 'search/event', :locals => {:event => object, :query => @query, :tags => @tags, :index => i})

    .span-9.last
      - unless @objects.blank?
        .jmap#map{:style => "width: 350px; height: 430px;"}

    %hr.space
  
    .span-10
      %h4= page_entries_info(@objects, :entry_name => "result")
    .span-9.last
      = will_paginate(@objects, :page_links => true)

    .span-19.last
      -# google ad - search index bottom leaderboard
      = render :partial => 'adsense/search_index_bottom_leaderboard'

