- title(@title)
- robots('index', 'follow')

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h1{:style => 'font-size: 1.8em;'}= @h1
  %h5
    = link_to("Search #{pluralize(@neighborhood.name, 'Places and Events')}", url_for(:action => 'index', :klass => 'search', :tag => 'anything'), :class => 'locality search')
    - if @events_count > 0
      == &nbsp;|&nbsp;
      = link_to("Search #{pluralize(@neighborhood.name, 'Events')}", url_for(:action => 'index', :klass => 'events', :tag => 'anything'), :class => 'locality search')
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'search', :country => @country, :state => @state, :city => @city, :neighborhood => @neighborhood})

%hr.space

%h3.span-23.prepend-1#tags
  - unless @popular_tags.blank?
    - cache("#{@city.name.parameterize}:#{@neighborhood.name.parameterize}:tag_cloud", :expires_in => CacheExpire.tags) do
      = render(:partial => 'search/tag_cloud', :locals => {:tags => @popular_tags, :locality_type => 'neighborhood', :locality_params => {:country => @country, :state => @state, :city => @city, :neighborhood => @neighborhood}})
