- title(@title)

-# The Google maps Javascript needs to be included before the other javascript files, as some refer to Google (in particular, markermanager)
- content_for :javascript do
  %script{:src => GOOGLE_MAPS_API_URL, :type => 'text/javascript'}
- javascript("jquery.jmap", "places", "map_markers")

- klasses   = []
- klasses.push("mappable") if @zip.mappable?

- zip_html = "<strong>#{@zip.name} #{@state.code}</strong>"
- zip_html += "<br/>Latitude: #{@zip.lat}<br/>Longitude: #{@zip.lng}" if @zip.mappable?

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-20
  %h2= @h1
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'zips', :country => @country, :state => @state, :zip => @zip})

%hr.space

.span-24.last
  .span-5#sidebar
    #nearby_zips
      = render(:partial => 'zips/nearby_zips', :locals => {:title => "Nearby Zips", :zips => @nearby_zips}) #unless @nearby_zips.empty?

  .span-19.last[@zip]
    .span-10
      .span-10.unselected{:id => "mappable_0", :class => klasses.join, :lat => @zip.lat, :lng => @zip.lng, :index => 0, :color => '_orange', :html => zip_html}
        .span-10.last
          .span-3
            %h3== Zip:
          .span-7.last
            %h3= @zip.name
        .span-10.last
          .span-3
            %h3== Latitude:
          .span-7.last
            %h3= @zip.lat
        .span-10.last
          .span-3
            %h3== Longitude:
          .span-7.last
            %h3= @zip.lng
      .span-10.last
        - unless @cities.blank?
          .span-3
            %h3= @cities.size == 1 ? 'City:' : 'Cities:'
          .span-7.last
            - @cities.each do |city|
              %h3.bottom.padding-bottom-5= city

    .span-9.last
      .jmap#map{:style => "width: 350px; height: 430px;"}
