.span-2.weather.icon
  = image_tag(weather.current_icon)

.span-3.weather.current
  %h4.weather.heading
    -# current conditions
    = weather.name
    %br
    %span.small.weather.current
      = weather.current_condition
      %br
      %span{:style => 'white-space: nowrap;'}== #{weather.current_temp} &deg

.span-3.weather.forecast.last
  %h4.weather.heading
    -# today's forecast
    == #{weather.forecast_today_day_of_week} Forecast
    %br
    %span.small.weather.forecast
      = weather.forecast_today_condition
      %br
      %span{:style => 'white-space: nowrap;'}== Low #{weather.forecast_today_temp_low} &deg - High #{weather.forecast_today_temp_high} &deg


