- title('Home')
- robots('index', 'follow')

-# The Google maps Javascript needs to be included before the other javascript files, as some refer to Google (in particular, markermanager)
- content_for :javascript do
  %script{:src => GOOGLE_MAPS_API_URL, :type => 'text/javascript'}
- javascript("jquery.jmap", "map_markers")

.span-23.prepend-1.padding-top-10
  
  %hr.space
  
  .span-10
    - unless @featured_places.blank?
      %h2.locations.featured.section= @featured_places_title
      - @featured_places.each_with_index do |object, i|
        .span-10.letterbox-5.border_bottom.search_result[object]
          - case object.class.to_s
          - when 'Location'
            = render(:partial => 'search/location', :locals => {:location => object, :index => i})
          - when 'Appointment'
            = render(:partial => 'search/event', :locals => {:event => object, :index => i})

  .span-10.prepend-1.last
    - unless @featured_events.blank?
      %h2.events.featured.section
        = @featured_events_title
        - unless @featured_events_date.blank?
          %span{:style => 'font-size: 0.6em; padding-left: 10px;'}= @featured_events_date

      - @featured_events.each_with_index do |object, i|
        .span-10.letterbox-5.border_bottom.search_result[object]
          - case object.class.to_s
          - when 'Location'
            = render(:partial => 'search/location', :locals => {:location => object, :index => i})
          - when 'Appointment'
            = render(:partial => 'search/event', :locals => {:event => object, :index => i})

    .span-11.last.padding-top-5#more_events
      - unless @featured_events_more.blank?
        = link_to @featured_events_more, build_search_route('events', 'city', :city => @featured_city, :state => @featured_state, :country => @country, :tag => 'anything'), :class => 'locality search', :style => 'font-weight: bold;'  
        
  -#.span-13.last
    -#- unless @featured_set.blank?
      -#.jmap#map{:style => "width: 500px; height: 390px;"}
  
  %hr.space
  
  .popular.cities
    == Browse Popular Cities
  
  - @cities.each do |city|
    - klasses = ["locality"].push(cycle('even', 'odd'))
    %span.small{:style => "white-space: nowrap; font-weight: bold; font-size: 1.7em; margin-right: 3px;"}= link_to city.name, url_for(:controller => 'search', :action => 'city', :country => @country, :state => city.state, :city => city), :class => klasses.join(" ")

  %hr.space

  - @neighborhoods.keys.each do |city|
    -# show popular neighborhoods for each popular city
    .popular.neighborhoods
      == Browse Popular #{city.name} Neighborhoods
    - @neighborhoods[city].each do |hood|
      - klasses = ["locality"].push(cycle('even', 'odd'))
      %span.small{:style => "white-space: nowrap; font-weight: bold; font-size: 1.7em; margin-right: 3px;"}= link_to hood.name, url_for(:controller => 'search', :action => 'neighborhood', :country => @country, :state => city.state, :city => city, :neighborhood => hood), :class => klasses.join(" ")
    %hr.space
    