- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2== #{@city.name} Events Directory
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})
    
%hr.space

.span.23.prepend-1
  == Found #{@total} events, showing #{@count} events

%hr.space
  
- @events.each do |event|
  .prepend-1.letterbox{:class => cycle("shaded", "")}
    %h3.name.margin-bottom-5
      = event['title']
    %h4.venue.margin-bottom-5
      = event['venue_name']
    %h4.when.margin-bottom-5
      = Time.parse(event['start_time']).strftime("%a, %b %d, %I:%M %p") if event['start_time']
    %h4.url
      = link_to "Details", event['url']
      
