- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  .span-13
    %h2= @h1
  -#.span-10.last
    -##event_search
      -#= render(:partial => 'event_search', :locals => {:object => @city, :url => url_for(:action => 'search')})
      
  .span-23.last
    %h5
      = link_to("Popular Events", url_for(:action => 'index', :sort => 'popular'), :class => 'event sort')
      - if @city.has_locations?
        == &nbsp;|&nbsp;
        = link_to("#{@city.name} Places", url_for(:controller => 'places', :action => 'city'), :class => 'locality search')
      
  .span-23.last
    %h4#breadcrumbs
      = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})
    
%hr.space

/ %h3.span-23.prepend-1#categories
/   .popular.categories== Event Categories
/   - @categories.each do |category|
/     - klasses = ["event", "category"].push(cycle('even', 'odd'))
/     %span.small[category]{:style => "white-space: nowrap; padding-right: 3px;"}= link_to(category.name, url_for(:action => 'index', :category => category.to_param), :class => klasses.join(" "))

%hr.space

%h3.span-23.prepend-1#tags
  = render(:partial => 'search/tag_cloud', :locals => {:tags => @tags, :locality_type => 'city', :locality_params => {:country => @country, :state => @state, :city => @city}})


