- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2= @title
  %h5
    = link_to("Popular Events", url_for(:action => 'index', :sort => 'popular'), :class => 'event sort')
    - if @city.has_locations?
      == &nbsp;|&nbsp;
      = link_to("#{@city.name} Places", url_for(:controller => 'places', :action => 'city'), :class => 'locality search')      
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})
    
%hr.space

.span-23.prepend-1
  %h3{:style => 'font-weight: bold;'}== Event Categories
  
%h3.span-23.prepend-1
  - @categories.each do |category|
    / - tag_class = tag_cloud_class(tag, :count, max_count, tag_classes)
    - klasses = ["event", "category"].push(cycle('even', 'odd'))
    %span.small[category]{:style => "white-space: nowrap; padding-right: 3px;"}= link_to(category.name, url_for(:action => 'index', :category => category.eventful_id.dasherize), :class => klasses.join(" "))

      
