- title("Events")

.span-23.prepend-1.mat.padding-top-10.bottom
  %h2== Event Cities
  %h4
    = link_to "Import All City Events", import_all_events_path, :class => 'event location'
    == &nbsp;|&nbsp;
    = link_to 'Remove Past Events', remove_events_path, :class => 'event location'
  
%hr.space

.span-14.prepend-1.last#flash
  = display_flash(:notice)

%hr.space

- @event_cities.each_with_index do |city, i|
  - klasses = ((i+1) % 3 == 0) ? ['last'] : ['colborder']
  .span-5.prepend-1.padding-top-10.padding-bottom-10{:class => klasses.join(' ')}
    %span{:style => 'font-size: 1.7em; color: #0000BB;'}= city.name
    %span{:style => 'padding-left: 5px; font-size: 1.0em;'}= link_to 'Import', import_events_path(city.name.to_url_param), :class => 'event location'
