- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2= @title
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :link_all => true})

%hr.space

.span-22.prepend-2
  -# show a google ad
  = google_ad(728, 90, 'image')

%hr.space

.span-5#sidebar
  #categories
    = render(:partial => 'categories', :locals => {:categories => @categories, :name => "Popular Categories"}) unless @categories.blank?

  -# show another google ad
  = google_ad(160, 600)

.span-19.last#events
  .span.18.prepend-1.padding-bottom-10
    == Showing events #{@first_item}-#{@last_item} of #{@total}
    
  = render(:partial => 'events', :locals => {:events => @events})
