- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  .span-13
    %h2= @title
  .span-10.last
    #event_search
      / = render(:partial => 'event_search', :locals => {:object => @city, :url => url_for(:action => 'search')})
    
  .span-23.last
    %h4#breadcrumbs
      = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :link_all => true})

%hr.space

.span-22.prepend-2
  -# show a google ad
  = google_ad(728, 90, 'image')

%hr.space

.span-5#sidebar
  / #categories
  /   = render(:partial => 'events/categories', :locals => {:categories => @categories, :name => "Popular Categories"}) unless @categories.blank?
  #tags
    = render(:partial => 'events/tags', :locals => {:tags => @popular_tags, :name => "Popular Tags"}) unless @popular_tags.blank?
  
  -# show another google ad
  = google_ad(160, 600)

.span-19.last#events
  .span-10
    %h4= page_entries_info @events unless @events.blank?
  .span-4.prepend-5.last
    = will_paginate(@events, :page_links => false)
      
  = render(:partial => 'events', :locals => {:events => @events})
