- markers   = true unless local_assigns.has_key?(:markers)
- tags      = [] unless local_assigns.has_key?(:tags)
- color     = '_orange' unless local_assigns.has_key?(:color)
- features  = location_features(location) unless local_assigns.has_key?(:features)
- klasses   = []
- klasses.push("mappable") if location.mappable?

.unselected.span-10.last{:id => "mappable_#{index}", :class => klasses.join, :lat => location.lat, :lng => location.lng, :index => index, :color => color, :html => "<strong>#{link_to location.company_name, location_path(location)}</strong><br />#{[location.street_address, city_state_zip(location.city, location.state, location.zip)].reject(&:blank?).join("<br/>")}"}
  - if markers and location.mappable?
    -# cache location google marker
    - cache("google:marker:#{color}:#{index}") do
      .span-1.icon-div
        %img{:src => "http://www.google.com/mapfiles/marker" + color + Array('A'..'Z')[index] + ".png", :class => 'icon'}
  - else
    -# marker icon placeholder
    .span-1== &nbsp;

  -# cache special info, independent of its list index
  - cache("#{special.cache_key}", :expires_in => CacheExpire.locations) do
    .span-9.last.info
      .span-9.last
        %h4.name.margin-bottom-5
          = link_to location.company_name, location_path(location), :class => "#{features.join(" ")} name"
      .span-9.last
        -# show each special
        - Special.preferences(special.preferences).keys.each do |special_key|
          .span-9.last.padding-bottom-5
            %span{:style => 'color: #0099FF;'}== #{Special.preference_name(special_key).titleize}:
            = special.preferences[special_key]
