-#- rows = tags.size.odd? ? tags.size/2 + 1 : tags.size/2
- rows = tags.size/3 + (tags.size % 3 > 0 ? 1 : 0)

- (0..rows-1).each do |row|
  - tag1 = tags[row*3]
  - tag2 = tags[row*3+1]
  - tag3 = tags[row*3+2]
  
  .span-24.last.letterbox{:style => "border-bottom:2px solid #eee;"}
  
    .span-6.prepend-1.border
      %h3{:style => 'margin-bottom: 3px;'}
        = tag1.name
      .span-2{:style => 'color: #777777;'}
        == Count: #{tag1.taggings_count}
    
    - unless tag2.blank?
      .span-6.prepend-1.border
        %h3{:style => 'margin-bottom: 3px;'}
          = tag2.name
        .span-2{:style => 'color: #777777;'}
          == Count: #{tag2.taggings_count}
          
    - unless tag3.blank?
      .span-6.prepend-1.last
        %h3{:style => 'margin-bottom: 3px;'}
          = tag3.name
        .span-2{:style => 'color: #777777;'}
          == Count: #{tag3.taggings_count}
