- title(@title)
- robots('index', 'follow') unless @robots == false

.span-23.prepend-1.mat.padding-top-10.padding-bottom-20
  %h1= @h1
  - if @letter
    %h5.bottom
      = link_to 'All Chain Stores', chains_path
  - else
    %h4#breadcrumbs
      = link_to 'Home', root_path

%hr.space

- unless @letters.blank?
  .span-23.prepend-1.last#chain_filter
    .last
      %h5.bottom== Search by Letter or Digit
    .last{:style => 'padding-top: 5px;'}
      - @letters.each do |letter|
        - klasses = (letter.downcase == @letter) ? ['current'] : []
        %span.chain_letter{:class => klasses.join(' ')}= link_to letter, url_for(:controller => 'chains', :action => 'letter', :letter => letter.downcase)

%hr.space

.span-24.last#chains
  %h4.prepend-1.span-23
    - unless @chains.blank?
      = render(:partial => 'chains', :locals => {:chains => @chains})