- title(@title)

.span-20.box
  %h1= @h1
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state})
  
.prepend-1.span-23.last#locations
  %h2== Found #{pluralize(@locations.size, 'location')} in #{@state.name}
  
.prepend-1.span-14#cities
  %h4== Find by city
  - @cities.each do |city|
    = link_to city.name, {:action => 'city', :city => city, :state => @state, :country => @country}