- groups.each do |group|
  .prepend-1.span-15.letterbox{:class => cycle("shaded", "")}[group]
    .span-13
      %h3{:style => 'margin-bottom: 3px;'}
        = group.name
        %em{:style => 'background-color: #FFFFCC; font-size: 11px; margin-left: 5px;'}
          = "*dirty" if group.dirty?
      .span-2
        == Places: #{group.companies_count}
      %br
      == Tags:
      = group.tag_list.sort.join(", ")
    .span-2.last
      = link_to 'Show', tagg_path(group)
      == &nbsp;|&nbsp;
      = link_to 'Edit', edit_tagg_path(group)
