- groups.each do |group|
  .prepend-1.span-15.letterbox{:class => cycle("shaded", "")}[group]
    .span-12
      %h3{:style => 'margin-bottom: 3px;'}
        = group.name
        %em{:style => 'background-color: #FFFFCC; font-size: 11px; margin-left: 5px;'}
          = "*dirty" if group.dirty?
      %h5.bottom{:style => 'font-weight: normal;'}
        == Places: #{group.companies_count}
      %h5.bottom{:style => 'font-weight: normal;'}
        - if group.tag_list.empty?
          %span{:style => 'color: #f00;'}== No Tags
        - else
          == Tags:
          = group.tag_list.sort.join(", ")
    .span-3.last
      = link_to 'Show', tagg_path(group)
      == &nbsp;|&nbsp;
      = link_to 'Edit', edit_tagg_path(group)
