- title(@title)

.span-23.prepend-1.mat.padding-top-10.padding-bottom-20
  .last
    %h1== Tag group '#{@tagg.name}'
    == Tags: #{@tagg.tags}
  .last.padding-top-10
    = link_to 'Edit', edit_tagg_path(@tagg)
    == &nbsp;|&nbsp;
    = link_to 'Back', taggs_path

%hr.space

-# show page links
.span-23.prepend-1
  .span-13
    %h4= page_entries_info @companies unless @companies.blank?
  .span-10.last
    = will_paginate(@companies, :page_links => true)

- @companies.each do |company|
  .prepend-1.span-23.letterbox{:class => cycle("shaded", "")}[company]
    %h3{:style => 'margin-bottom: 3px;'}
      = company.name
    .span-2
      == Locations: #{company.locations_count}
    %br
    == Tags:
    = company.tag_list.sort.join(", ")


%hr.space

-# show page links
.span-23.prepend-1
  .span-13
    %h4= page_entries_info @companies unless @companies.blank?
  .span-10.last
    = will_paginate(@companies, :page_links => true)
