- venues.each do |venue|
  .span-23.venue.letterbox{:class => cycle("", ""), :style => "border-bottom:2px solid #eee;"}
    %h4.name.margin-bottom-5{:style => 'font-weight: bold; font-size: 1.3em;'}
      = venue.name
    %h4.address.margin-bottom-5
      == #{venue.address},
      = venue.city
      = venue.zip
    %h5.attributes.margin-bottom-5
      == Confidence:
      = venue.confidence
      == &nbsp;|&nbsp;
      == Popularity:
      = venue.popularity
    %h5.mapping.bottom{:style => 'color: #555;'}
      - if venue.mapped?
        == Mapped to
        = link_to venue.location.place.name, location_path(venue.location)
        == &nbsp;|&nbsp;
        == Source - #{venue.location_source_type}:#{venue.location_source_id}
        == &nbsp;|&nbsp;
        == Events: #{venue.location.events_count}
      - else
        = link_to 'Add this place', add_venue_path(venue)
