- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2== Browse Venues by City
  %h5#stats
    = pluralize(@mapped_count, "Mapped Venue")
    == &nbsp;|&nbsp;
    = pluralize(@unmapped_count, "Unmapped Venue")
  %h5#unmapped
    = @unmapped_hash.keys.collect{ |city_state| "#{city_state}:#{@unmapped_hash[city_state]}" }.join(" | ")
  %h4#breadcrumbs
    = link_to 'Home', root_path
    
%hr.space

%h3.span-23.prepend-1
  - @states.keys.sort_by(&:name).each do |state|
    -# state
    %span{:style => 'font-size: 0.8em; font-weight: bold;'}= state.name
    %hr.space
    
    -# all venues in state, grouped by city
    - @states[state].each do |city, state, count|
      - klasses = ["locality"].push(cycle("even", "odd"))
      %span.small[city]{:style => "white-space: nowrap; margin-right: 3px; font-weight: bold;"}
        = link_to("#{city} (#{count})", city_venues_path(:country => @country, :state => state, :city => city), :class => klasses.join(" "))
    %hr.space
