-# defaults
- event_venue_id = nil if local_assigns[:event_venue_id].nil?

.location
  - form_for location, :url => submit_url, :method => method, :html => {:id => 'edit_location_form'} do |form|
    - if event_venue_id
      = hidden_field_tag :event_venue_id, event_venue_id

    - if location.new_record?
      -# set user as source
      = hidden_field_tag 'location[source_id]', current_user.id
      = hidden_field_tag 'location[source_type]', current_user.class.to_s

    -# company nested field
    - form.fields_for :company do |company_form|
      .span-20.last
        .span-4.prepend-1.text-align-right.padding-top-5
          %h3== Name:
        .span-15.last
          = company_form.text_field :name, :style => 'font-size: 1.5em; width: 500px;'
    .span-20.last
      .span-4.prepend-1.text-align-right.padding-top-5
        %h3== Street Address:
      .span-15.last
        = form.text_field :street_address, :style => 'font-size: 1.5em; width: 500px;'
    .span-20.last
      .span-4.prepend-1.text-align-right.padding-top-5
        %h3== City:
      .span-15.last
        -#= form.text_field :city, :style => 'font-size: 1.5em;'
        = form.select(:city_id, @cities.collect{ |o| [o.name, o.id]} )
    .span-20.last
      .span-4.prepend-1.text-align-right.padding-top-5
        %h3== State:
      .span-15.last
        -#= form.text_field :state, :style => 'font-size: 1.5em;'
        = form.select(:state_id, @states.collect{ |o| [o.name, o.id]} )
    .span-20.last
      .span-4.prepend-1.text-align-right.padding-top-5
        %h3== Zip:
      .span-15.last
        - if !@zips.blank?
          = form.select(:zip_id, @zips.collect{ |o| [o.name, o.id]} )
        - else
          = form.text_field :zip, :size => 5, :style => 'font-size: 1.5em;'
    .span-20.last
      .span-4.prepend-1.text-align-right.padding-top-5
        %h3== Country:
      .span-15.last
        = form.select(:country_id, @countries.collect{ |o| [o.name, o.id]})

    -# phone nested field
    - form.fields_for :phone_numbers do |phone_form|
      .span-20.last.phone_number[phone_form.object]
        .span-20.last
          .span-4.prepend-1.text-align-right.padding-top-5
            %h3== Phone:
          .span-15.last
            = phone_form.text_field :address, :style => "font-size: 1.5em; width: 275px;", :id => 'phone_address'
        .span-20.last.padding-bottom-10
          .span-4.prepend-1.text-align-right.padding-top-10
            %h3== Phone Name:
          .span-15.last
            = phone_form.select(:name, options_for_select(PhoneNumber.names, phone_form.object.name), {:include_blank => true}, {:style => 'margin-top: 10px;', :class => 'select big', :id => 'phone_name'})

    %hr.space

    .span-20.prepend-1.last
      = submit_tag form_submit || 'Submit', :class => 'big button'
      == or
      = link_to 'Cancel', location_path(@location), :class => 'admin'
