%h2.location.nearby.places.divider
  = title
- locations.each_with_geodist do |location, distance|
  .span-7.append-1.nearby[location]{:style => 'margin-bottom: 10px;'}
    %span{:style => 'font-size: 1.3em;'}= link_to location.company_name, location_path(location), :class => 'location name'
    %br
    = location.street_address
    = location.city
    %br
    = number_with_precision(distance.to_f, :precision => 2, :delimiter => ',')
    == miles
