- title(@title)
- content_for :head do
  %script{:src => GOOGLE_MAPS_API_URL, :type => 'text/javascript'}
- javascript("jquery.jmap", "maps", "places")

.span-23.box
  %h1
    = @h1
    - if has_privilege?('manage site')
      %span{:style => 'font-size: 0.4em; color: #777777;'}
        == #{@location.source_type}:#{@location.source_id}
        - if @location.event_venue
          == &nbsp;|&nbsp;
          == Venue
          
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:tree => 'search', :country => @country, :state => @state, :city => @city, :link_all => true})

.span-18.prepend-1.last
  .span-18#address_phone
    .span-11
      -# show location map only if its mappable
      = render(:partial => 'google_map', :locals => {:location => @location}) if @location.mappable?
    
    .span-6.append-1.last
      -# location address
      %h2#address
        = [@location.street_address, city_state_zip(@city, @state, @zip)].reject(&:blank?).join("<br/>")     
        
      -# location phone 
      %h3#phone
        = render(:partial => 'phone', :locals => {:location => @location})
        
      -# location recommendations
      %h4.recommendations#recommend
        = render(:partial => "recommendations", :locals => {:location => @location})
        
  %hr.space

  -# place and locality tags
  .span-18#all_tags
    .span-7.colborder#place_tags
      %h2== Keyword Tags
      - tags = @location.place.tags
      - if tags.blank?
        -# add space to fill in column border
        == &nbsp;
      - else
        - tags.each do |tag|
          %span{:style => 'font-size: 13px; padding-right: 3px; white-space: nowrap;'}= link_to tag.name, build_search_route('search', 'city', :country => @country, :state => @state, :city => @city, :what => tag.name.parameterize)
      
    .span-9.last#locality_tags
      %h2== Geography Tags
      - ([@state, @city, @zip].compact + @neighborhoods).each do |locality|
        %span{:style => 'font-size: 13px; padding-right: 3px; white-space: nowrap;'}= link_to locality.name, infer_locality_route(locality.name, :country => @country, :state => @state, :city => @city, :zip => @zip, :neighborhoods => @neighborhoods)
    
  %hr.space
  
  -# nearby locations
  .last#nearby_places{:class => @nearby_event_venues.blank? ? "span-18" : "span-7 colborder"}
    = render(:partial => 'nearby_places', :locals => {:nearby_locations => @nearby_locations, :heading => 'Nearby Places'}) unless @nearby_locations.blank?
    
  -# nearby event venues
  .span-9.last#nearby_event_venues
    = render(:partial => 'nearby_places', :locals => {:nearby_locations => @nearby_event_venues, :heading => 'Nearby Event Venues'}) unless @nearby_event_venues.blank?
    
.span-5.last#sidebar{:style => 'text-align: right;'}
  -# google ad
  = google_ad(160, 600)
