%h2= heading
- nearby_locations.each_with_geodist do |location, distance|
  .span-7.append-1.nearby[location]{:style => 'margin-bottom: 20px;'}
    %span{:style => 'font-size: 1.3em;'}= link_to location.place.name, place_path(:id => location)
    %br
    = location.street_address
    = location.city
    %br
    = number_with_precision(Math.meters_to_miles(distance.to_f), :precision => 2, :delimiter => ',')
    == miles
