- title(@title)

.span-20.box.prepend-1.last
  %h2== #{@city.name} City Directory
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})

%h3.span-20.prepend-1#tags
  = render(:partial => 'places/popular_tags', :locals => {:tags => @tags, :locality_type => 'city', :locality_params => {:country => @country, :state => @state, :city => @city}})

%h3.span-20.prepend-1#zips
  %p== #{@city.name} Zip Codes
  - @zips.each do |zip|
    %span[zip]= link_to zip, url_for(:controller => 'places', :action => 'zip', :country => @country, :state => @state, :zip => zip)
    
%h3.span-20.prepend-1#neighborhoods
  - unless @neighborhoods.blank?
    %p== #{@city.name} Neighborhoods
    - @neighborhoods.each do |neighborhood|
      %span[neighborhood]= link_to neighborhood, url_for(:controller => 'places', :action => 'neighborhood', :country => @country, :state => @state, :city => @city, :neighborhood => neighborhood)
    

