- title(@title)

.span-23.mat.prepend-1.last.padding-top-10.padding-bottom-10
  %h2== #{@city.name} City Directory
  %h5
    = link_to("#{pluralize(@city.locations_count, 'location')}", url_for(:action => 'index', :what => 'anything'), :class => 'locality search')
    == &nbsp;|&nbsp;
    = link_to("Recommended Places", url_for(:action => 'index', :filter => 'recommended'), :class => 'locality search')
    - if @city.has_events?
      == &nbsp;|&nbsp;
      = link_to("#{@city.name} Events", url_for(:controller => 'events', :action => 'city'), :class => 'locality search')      
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city})

%hr.space

%h3.span-23.prepend-1#tags
  = render(:partial => 'places/popular_tags', :locals => {:tags => @tags, :locality_type => 'city', :locality_params => {:country => @country, :state => @state, :city => @city}})

%hr.space

%h3.span-23.prepend-1#zips
  .city_zips== #{@city.name} Zip Codes
  - @zips.each do |zip|
    - klasses = ["locality"].push(cycle('even', 'odd'))
    %span.small[zip]= link_to zip, url_for(:controller => 'places', :action => 'zip', :country => @country, :state => @state, :zip => zip), :class => klasses.join(" ")
    
%hr.space

%h3.span-23.prepend-1#neighborhoods
  - unless @neighborhoods.blank?
    .city_neighborhoods== #{@city.name} Neighborhoods
    - @neighborhoods.each do |neighborhood|
      - klasses = ["locality"].push(cycle('even', 'odd'))
      %span.small[neighborhood]= link_to neighborhood, url_for(:controller => 'places', :action => 'neighborhood', :country => @country, :state => @state, :city => @city, :neighborhood => neighborhood), :class => klasses.join(" ")
    

