- title(@title)

.span-20.box.prepend-1.last
  %h2== #{@neighborhood.name}, #{@city.name} Neighborhood Directory
  %h5= link_to("#{pluralize(@neighborhood.locations_count, 'location')}", url_for(:action => 'index', :what => 'anything'), :class => 'locality search')
  %h4#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :neighborhood => @neighborhood})
  
%h3.span-20.prepend-1#tags
  = render(:partial => 'places/popular_tags', :locals => {:tags => @tags, :locality_type => 'neighborhood', :locality_params => {:country => @country, :state => @state, :city => @city, :neighborhood => @neighborhood}})
