- title(@title)
- content_for :head do
  %script{:src => GOOGLE_MAPS_API_URL, :type => 'text/javascript'}
- javascript("jquery.jmap", "maps")

.span-23.box
  %h1= @h1
  %h4.span-7.last#breadcrumbs
    = render(:partial => 'shared/breadcrumbs', :locals => {:country => @country, :state => @state, :city => @city, :link_all => true})

.span-18.prepend-1.last
  .span-18#info
    .span-11
      = render(:partial => 'google_map', :locals => {:location => @location}) if @location.mappable?
    .span-6.append-1.last
      %h2
        = [@location.street_address, city_state_zip(@city, @state, @zip)].compact.join("<br/>")
  
  %hr.space

  .span-18#tags
    .span-7.colborder#search
      %h3== Search Tags (find related places)
      - @location.locatable.tags.each do |tag|
        %span{:style => 'font-size: 13px; padding-right: 3px;'}= link_to tag.name, build_search_route('city', :country => @country, :state => @state, :city => @city, :what => tag.name.to_url_param)
    
    .span-9.last#locality
      %h3== Location Tags (search by geography)
      - @location.locality_tags.each do |tag|
        %span{:style => 'font-size: 13px; padding-right: 5px;'}= link_to tag.name, infer_locality_route(tag.name, :country => @country, :state => @state, :city => @city, :zip => @zip)
        -#%li{:style => 'font-size: 13px; display: inline; padding-right: 5px; border-right: solid 3px;'}= link_to tag.name, infer_locality_route(tag.name, :country => @country, :state => @state, :city => @city, :zip => @zip)
    
  %hr.space
  
  .span-18.last#nearby_places
    %h3== Nearby Places
    == add some nearby places here
    
.span-5.last#sidebar{:style => 'text-align: right;'}
  -# google ad
  = google_ad(160, 600)
