!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title
      = yield :title
      == | Walnut Places
    %meta{:name => 'robots', :content => 'nofollow, noindex'}
    = stylesheet_link_tag 'blueprint/screen', 'walnut', 'errors', 'orange'
    = yield :stylesheet
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery', 'jquery.selectboxes', 'application'
    = yield :javascript
    = yield :head
    
  %body
    #header
      .container
        -# hide search bar when showing events
        - if params[:controller] == 'events'
          - search_bar_style = 'hidden'
        - else
          - search_bar_style = 'visible'
         
        .span-24.last#search_places{:style => "visibility: #{search_bar_style};"}
          = render(:partial => 'shared/search_bar')
        .span-24.last#header_links{:style => 'text-align: right;'}
          -# show these links in any state
          = link_to 'Home', root_path, :class => 'header link'
          == &nbsp;|&nbsp;
          = link_to 'Find Places', url_for(:controller => 'places', :action => 'country', :country => Country.default), :class => 'header link'
          == &nbsp;|&nbsp;
          = link_to 'Find Events', url_for(:controller => 'events', :action => 'country', :country => Country.default), :class => 'header link'
          == &nbsp;|&nbsp;
          = link_to 'Chain Stores', chains_path, :class => 'header link'

          / == &nbsp;|&nbsp;
          / = link_to 'Zip Code Finder', url_for(:controller => 'zips', :action => 'index'), :class => 'header link'
          
          - if has_privilege?('manage site')
            == &nbsp;|&nbsp;
            = link_to 'Tag Groups', taggs_path, :class => 'header link'
            == &nbsp;|&nbsp;
            = link_to('Toggle Grid', url_for(:controller => 'debug', :action => 'toggle_blueprint_grid'), :method => :put, :class => 'header link')

          - if logged_in?
            == &nbsp;|&nbsp;
            = link_to('Log-out', logout_path, :class => 'header link')
          - else
            == &nbsp;|&nbsp;
            = link_to('Log-in', login_path, :class => 'header link')

    .container{:class => $BlueprintGrid ? 'showgrid' : ''}
      .prepend-1.span-14
        = display_flash
      = yield
